@use 'src/css/design-system';

.container {
  background: linear-gradient(0deg, #F4F7FA 0%, #FDFEFE 93.18%);
  display: flex;
  flex-direction: column;
  padding: 40px 0 96px;

  .title {
    margin-bottom: 8px;
  }

  @include design-system.on-tablet {
    padding: 32px 0;
    .details {
      box-sizing: border-box;
      max-width: 100%;

      .description {
        margin-right: #{"min(84px, 12vw)"};
      }
    }
  }

  @include design-system.on-mobile {
    padding: 24px 0;

    .details {
      flex-direction: column;
      justify-content: flex-start;

      .description {
        margin-right: 0;
        margin-bottom: 32px;
        max-width: 100%;
      }
    }
  }
}

.title {
  @extend .gen-header;
  color: design-system.$gray300;
  font-size: 24px;
  line-height: 45px;
  padding: 0 var(--page-margin);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 var(--page-margin);

  .description {
    margin-right: #{"min(163px, 12vw)"};
  }
}

.description, .recognition-title {
  @extend .p-1;
  color: design-system.$gray600;
}

.description {
  max-width: 50%;
}

.recognition-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .recognition-title, .award:not(:last-child) {
    margin-bottom: 8px;
  }
}

.recognition-title {
  font-weight: 600;
}

.award {
  font-size: 15px;
  line-height: 22px;
  color: design-system.$gray600;
}
