@use 'src/css/design-system';

.container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;

  .tabs-container {
    margin-right: #{"min(64px, 3.5vw)"};
  }

  @include design-system.on-tablet {
    .image-container {
      display: none;
      flex: 0;
    }
    .tabs-container {
      margin-right: 0;
      max-width: 100%;

      .tab-button:not(:last-child) {
        margin-bottom: 16px;
      }

      .image {
        position: relative;
        margin-bottom: 32px;
        display: flex;
        justify-content: center;

        &.hidden-image {
          height: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .tab-button {
      padding: 16px;

      &.active {
        .tab {
          padding-left: 16px;
        }
      }

    }
  }
}

.tabs-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .tab-button:not(:last-child) {
    margin-bottom: 24px;
  }
}

.image-container {
  position: relative;
  max-width: 66%;
  flex-shrink: 0;
  flex: 1.5;
}

.tab-button {
  border: 1px solid design-system.$gray600;
  background: design-system.$gray50-dark;
  border-radius: 8px;
  padding: 18px 32px;
  box-sizing: border-box;
  cursor: pointer;

  &.active {
    cursor: auto;
    .tab {
      padding-left: 24px;
      border-left: 2px solid design-system.$blue600;
    }
  }

  &.active,
  &:hover {
    background: design-system.$gray75-dark;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  transition: 0.2s padding-left;

  .activities {
    margin-bottom: 8px;
  }
}

.category {
  @extend .p-1;
  color: design-system.$gray0;
}

.activities {
  @extend .p-3;
  color: design-system.$gray200;
  text-align: left;
}

.description {
  @extend .p-1;
  color: design-system.$gray50;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
}

.image {
  position: absolute;
  inset: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &.hidden-image {
    opacity: 0;
  }
}
