@use 'src/css/design-system';

.container {
  width: 100%;
  background: design-system.$gray25-dark;
  display: flex;
  flex-direction: column;
  
  padding: 80px #{"min(112px, 5vw)"} 104px;
  box-sizing: border-box;

  .title {
    margin-bottom: 80px;
  }

  @include design-system.on-tablet {
    padding: 48px var(--page-margin) 16px;
    .title {
      margin-bottom: 52px;
    }
  }
}

.title {
  @extend .gen-header;
  text-align: center;
  color: design-system.$gray800-dark;
  font-size: 32px;
  line-height: 36px;
}
