@use 'src/css/design-system';

.button {
  overflow: hidden;
  &:hover {
    .hover-content:not(:empty) {
      display: flex;
    }
  }
}

.hover-content, .click-content {
  display: none;
  background: inherit;
  z-index: design-system.$z-mg;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
}
