@use 'src/css/design-system';

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  $padding-top: 84px;
  padding: $padding-top var(--page-margin);
  width: 100%;
  box-sizing: border-box;

  .description {
    margin-right: 40px;
  }

  .header {
    top: $padding-top;
    left: var(--page-margin);
  }

  @include design-system.on-tablet {
    flex-direction: column-reverse;
    align-items: center;
    $padding-top: 96px;
    padding: $padding-top 0 32px;

    .header {
      text-align: center;
      // since safari left: unset is broken
      left: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      top: $padding-top;
      transform: translateY(-50%);
    }

    .image-container {
      max-width: 100%;
      border-radius: 0;
    }

    .description {
      padding: 40px var(--page-margin) 0;
      margin: 0;
    }
  }
}

.description {
  flex: 1;
  color: design-system.$gray600;
  margin-top: 96px;
  @extend .p-1;
}

.image-container {
  z-index: design-system.$z-bg;
  max-width: 50%;
  // safari specific bug fix
  transform: translateZ(0);
  overflow: hidden;
  border-radius: 10px;
}

.header {
  color: design-system.$gray800;
  @extend .h-1;
  position: absolute;
  max-width: 100%;
  z-index: design-system.$z-mg;
}
