@use 'src/css/design-system';

.container {
  background: design-system.$gray25;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.content {
  display: flex;
  align-items: center;
  padding: 128px 0 136px;
  position: relative;

  @include design-system.on-tablet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 84px 0;

    .cta-section {
      margin-right: 0;
      margin-bottom: 32px;
    }

    .description-container {
      max-width: 600px;
    }
  }

  @include design-system.on-mobile {
    padding: 80px var(--page-margin) 72px;
    .available-button {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      align-self: center;
      z-index: design-system.$z-fg;
    }
    .cta-section {
      max-width: unset;
      width: 100%;
      margin-bottom: 22px;

      .cta {
        margin-right: 16px;
      }
    }
  }

  .copy-email-container {
    flex-direction: column;
    align-items: flex-start;

    .copy-email-button {
      margin: 24px 0 0;
    }
  }
}

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .available-button {
    margin-bottom: 32px;
    margin-right: 0;
  }

  max-width: 360px;
  margin-right: 108px;
}

.cta {
  color: design-system.$gray600;
  @extend .gen-header;
  font-size: 32px;
  line-height: 48px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 450px;

  .description {
    margin-bottom: 32px;
  }
}

.description,
.copy-email-text {
  @extend .p-1;
  color: design-system.$gray800;
}

.description {
  white-space: pre-wrap;
}

.copy-email-container {
  display: flex;
  align-items: center;

  .copy-email-button {
    margin-left: 24px;
  }
}

.copy-email-button {
  transition: all 0.2s;
  padding: 5px 8px;
  background: design-system.$gray75-dark;
  border-radius: 4px;
  box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.25);

  font-size: 11px;
  line-height: 15px;
  font-weight: 600;
  color: design-system.$gray1000-dark;
  border: none;

  &:hover {
    background: design-system.$gray200-dark;
  }
}
