@use 'src/css/design-system';

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  background: design-system.$bg;

  --page-margin: 150px;

  @include design-system.on-tablet {
    --page-margin: 32px;
  }
}
