@use 'src/css/design-system';
@use 'src/css/pills';

.example-container {
  display: flex;
  align-items: center;
  margin-bottom: 196px;

  $image-margin: #{"min(128px, 9vw)"};

  .example-content {
    padding-left: var(--page-margin);
    padding-right: $image-margin;
  }

  &.left {
    flex-direction: row-reverse;
    .example-content {
      padding-left: $image-margin;
      padding-right: var(--page-margin);
    }
  }

  @include design-system.on-tablet {
    &,
    &.left {
      flex-direction: column-reverse;
      margin-bottom: 120px;

      .example-content {
        padding: 56px 132px 0;
      }
    }
  }

  @include design-system.on-mobile {
    &,
    &.left {
      margin-bottom: 80px;
      .example-content {
        padding: 32px var(--page-margin) 0;

        .example-title {
          margin-top: 24px;
        }
      }
    }
  }
}

.example-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .example-title {
    margin: 32px 0 16px;
  }

  .tags-container .work-tag:not(:first-child) {
    margin-left: 16px;
  }
}

.tags-container {
  display: flex;
  align-items: center;
}

.example-title {
  color: design-system.$gray600;
  @extend .h-3;
}

.example-description {
  color: design-system.$gray600;
  @extend .p-2;
}

.separator-container {
  display: flex;
  align-items: center;
  align-self: stretch;

  .separator {
    flex: 1;
    margin-left: 24px;
  }

  div {
    font-size: 14px;
    line-height: 22px;
    color: design-system.$gray400;
  }

  margin: 0 var(--page-margin) 140px;

  @include design-system.on-tablet {
    margin-bottom: 82px;
  }

  @include design-system.on-mobile {
    margin-bottom: 56px;
  }
}

.separator {
  border-bottom: 1px solid design-system.$gray150;
}

.work-tag {
  @extend .tag;
}

.image-container {
  flex-shrink: 0;
  width: 56vw;
  max-width: 824px;

  @include design-system.on-tablet {
    width: 100vw;
    max-width: 100vw;
  }
}
