@use 'src/css/design-system';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}

.nav-item {
  margin: 0 48px 0 0;
  font-size: 16px;
  line-height: 21px;
  color: design-system.$gray400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;

  &.active,
  &:hover {
    color: design-system.$gray800;
  }

  &.active {
    font-weight: 600;
    line-height: 22px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.site-title {
  font-family: "Peachi";
  margin-left: var(--page-margin);
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: design-system.$gray700;
}


