// BIOTIF
@font-face {
  font-family: "Biotif";
  src: url("../fonts/biotif/biotif-regular-webfont.woff2") format("woff2"),
    url("../fonts/biotif/biotif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Biotif";
  src: url("../fonts/biotif/biotif-bold-webfont.woff2") format("woff2"),
    url("../fonts/biotif/biotif-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

// PEACHI
@font-face {
  font-family: "Peachi";
  src: url("../fonts/peachi/peachi-bold-webfont.woff2") format("woff2"),
    url("../fonts/peachi/peachi-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Peachi";
  src: url("../fonts/peachi/peachi-regular-webfont.woff2") format("woff2"),
    url("../fonts/peachi/peachi-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@mixin biotif-font {
  font-family: "Biotif", Helvetica, sans-serif;
}

@mixin peachi-font {
  font-family: "Peachi", Helvetica, sans-serif;
}

body {
  @include biotif-font;
}

button {
  font-family: inherit;
}
