@use 'src/css/design-system';
@use 'src/css/pills';

.project-tag {
  @extend .tag;
  @extend .dark;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;

  .image {
    margin-right: #{"min(142px, 12vw)"};
  }

  @include design-system.on-tablet {
    flex-direction: column;

    .image {
      margin-right: 0;
      margin-bottom: 32px;
    }

    .image, .description-container {
      width: 100%;
    }
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    margin: 32px 0 16px;
  }

  @include design-system.on-mobile {
    .title {
      margin-top: 24px;
    }
  }
}

.tags-container {
  display: flex;
  .tag:not(:last-child) {
    margin-right: 16px;
  }
}

.title {
  @extend .h-3;
  color: design-system.$gray800-dark;
}

.description {
  @extend .p-2;
  color: design-system.$gray600-dark;
}

.image {
  flex-shrink: 0;
  width: 40vw;
  max-width: 560px;
}
