@use 'src/css/design-system';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px var(--page-margin);
  background: design-system.$gray800;
  width: 100vw;
  box-sizing: border-box;

  .date-description {
    margin-bottom: 24px;
  }

  .header {
    margin-bottom: 8px;
  }

  .project-container {
    margin-top: 88px;
  }

  @include design-system.on-tablet {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.date-description {
  color: design-system.$gray400-dark;
  @extend .gen-header;
  font-size: 12px;
  line-height: 15px;
}

.header {
  @extend .gen-header;
  color: design-system.$gray800-dark;
  font-size: 32px;
  line-height: 36px;
}

.subheader {
  color: design-system.$gray600-dark;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.project {
  margin-bottom: 120px;

  @include design-system.on-tablet {
    margin-bottom: 84px;
  }
}
